@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .title {
        font-size: 30px;
    }
    .text {
        font-size: 16px;
    }
    .info-card_left__title, .info-card_right__title {
        font-size: 24px;
    }
    .menu__link {
        font-size: 16px;
    }
    .info-card-content-left, .info-card-content-right{
        max-width: 57.5%;
    }
    .info-card-img {
        max-width: 30%;
        max-height: 30%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .title {
        font-size: 26px;
        line-height: 1;
    }
    .text {
        font-size: 14px;
        line-height: 1;
    }
    .header__content {
        align-items: end;
    }
    .header__text {
        margin: 10px 0px 10px 0px;
    }
    .info-card_left__title, .info-card_right__title {
        font-size: 22px;
    }
    .menu__link {
        font-size: 14px;
    }
    .info-card-content-left, .info-card-content-right{
        max-width: 57.5%;
    }
    .info-card-img {
        max-width: 30%;
        max-height: 30%;
    }
    .info-card-title {
        font-size: 22px;
    }
    .info-card-text {
        font-size: 14px;
    }
    .product__card:last-child {
        display: none;
    }
    .cont-title {
        font-size: 18px;
    }
    .footer-text {
        font-size: 12px;
    }
    .header__button {
        margin: 15px 0px 0px 0px;
    }
    .button {
        font-size: 14px;
        padding: 7px 15px;
    }
    .tel__number {
        font-size: 14px;
    }
    .tel__icon {
        max-width: 18px;
        max-height: 18px;
        margin: 0px 10px 0px 0px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
        padding: 0px 15px;
    }
    .title {
        font-size: 30px;
        line-height: 1;
    }
    .text {
        font-size: 20px;
        line-height: 1;
    }
    .header__content {
        align-items: end;
    }
    .first-screen-mob {
        margin: 50px 0px 0px 0px;

    }
    .header__title {
        margin: 40px 0px 0px 0px;
        font-size: 30px;
    }
    .header__text {
        margin: 20px 0px 20px 0px;
    }

    .info-card-left {
        display: none;
    }
    .info_card-right  {
        display: block;
        text-align: center;
        align-items: center;
        margin: 50px 0px;
    }
    .info-card_left__title, .info-card_right__title {
        font-size: 20px;
    }
    .menu__link {
        font-size: 12px;
    }
    .info-card-content-left, .info-card-content-right{
        margin: 0 auto;
        max-width: 60%;
        text-align: center;
    }
    .info-card-img {
        max-width: 100%;
        max-height: 100%;
    }
    .info-card-text {
        font-size: 14px;
        text-align: center;
    }
    .info-card-button {
        margin: 0 auto;
    }

    .product__card:last-child, .product__card:first-child {
        display: none;
    }
    .cont-title {
        font-size: 16px;
    }
    .footer-text {
        font-size: 12px;
    }
    .header__button {
        margin: 15px 0px 0px 0px;
    }
    .button {
        font-size: 14px;
        padding: 7px 15px;
    }
    .menu__list {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px 0px 0px;
    }
    .header__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .first-screen-mob {
        display: inline;
        margin: 0 auto;
    }
    .first-screen-since640px {
        display: none;
    }
    .header__right {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .header__button {
        margin: 0 auto;
    }
    .logo {
        min-width: 50%;
    }
    .tel__number {
        display: none;

    }
    .menu__tel {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tel__icon {
        min-width: 50px;
        min-height: 50px;
    }
    .header__img {
        margin: 20px 0px 0px 0px;
    }
}

@media (max-width: 510px) {
    
    .menu__tel {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tel__icon {
        min-width: 35px;
        min-height: 35px;
    }
}

@media (max-width: 330px) {
    
    .menu__tel {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tel__icon {
        min-width: 25px;
        min-height: 25px;
    }
}